:root {
    --primary: #15104B;
    --secondary: #fdbb3b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: solid red 1px;*/
}


body {
    font-family: "lilita one";
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
}

header {
    width: 100%;
    color: var(--secondary);
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem;
    
}

header img {
    display: none;
}

::backdrop {
    background-color: var(--primary);
    opacity: 60%;
}

dialog p {
    font-family: "roboto";
    font-size: 1.1rem;

}

dialog {
    margin: 10% 20% 20% 20% ;
    padding: 10px;
    border-radius: 8px;
    background-color:#dddddd;
    border: none;
}

dialog button {
    border-radius: 10px;
    padding: 5px 10px;
    border: solid black 1px;
}

span {
    font-weight: bold;
}

.instructions {
    padding: 1px 10px;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-left: 90%;
}

.intro {
    text-align: left;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.intro h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.intro p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'arial';
}

.start-btn {
    margin: 10% 20%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
    font-family: "lilita one";
    cursor: pointer;
}

.confettis {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.eclair {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.quiz-image {
    max-width: 90%;
    margin-top: 20px;
}

footer {
    background-color: var(--secondary);
    width: 100%;
    font-family: "arial";
    color: black;
    font-size: .8rem;
    padding: 8px;
    margin-top: 20px;
}

.bloc-question {
    display: none;
}

 .enonce {
    font-size: 1.3rem;
    font-weight: 400;
 }

.desktop-img {
    display: none;
}

/* Page Javascript 1ere question */

ul {
    list-style: none;
    margin: 25px 0;
}

li {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    transition: background-color 1s;
    font-family: "roboto";
    font-size: 1.1rem;
    /*text-justify: auto;*/
    cursor: pointer;
}


li:hover {
    border: solid 1px;
    box-shadow: 10px 5px 5px black;
}

h2 {
    font-weight: 300;
}

h3 {
    color: white;
    margin-bottom: 40px;
    font-size: 1.8rem;
}

h4 {
    color: white;
    font-family: roboto;
}

.winnerorlooser {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
}

.next-btn {
    display: none;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    font-family: "lilita one";
    cursor: pointer;
    transition: background-color 0.7s;
}

.next-btn:hover {
    background-color: var(--primary);
    color: #fdbb3b;
    transform: translateY(5px);
}

.end-button {
    display: none;
    background-color: white;
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    font-family: "lilita one";
    cursor: pointer;
}

.score {
    font-size: 1.2rem;
    margin: 10px 0;
}

.finallooser,
.finalwinner {
    width: 50vw;
}

.finalpage,
.finalwinner, 
.finallooser {
    display: none;
}

@media screen and (min-width: 1200px) {

    .accueil {
        display: flex;
        flex-direction: row;
    }

    dialog p {
        font-size: 1.3rem;
        padding: 20px;
    
    }
    
    dialog {
        
        margin: 10% auto ;
        padding: 10px;
        border-radius: 8px;
        background-color:#dddddd;
        border: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header img {
        display: block;
        height: 100px;
        width: auto;
        margin-left: 10px;
    }

    .instructions {
        margin: 10px 10px 0;
        height: 100%;
}

    h1 {
        margin-top: 10px;
    }

    .intro {
        width: 50%;
    }


    .quiz-image {
        width: 70%;
        margin-left: 20%;
    }

    .bloc-question {
        display: none;
        margin-right: 50vw;
        width: 600px;
    }

    .numeroQ,
    .enonce,
    .reponses,
    .next-btn {
        margin-right: 10%;
    }

    .desktop-img {
        display: block;
        width: 30vw;
        position: absolute;
        top: 30vh;
        left: 60vw;
    }

    .start-btn {
        margin-top: 20%;
    }

    .intro p {
        font-size: 1.1rem;
        margin-top: 5%;
    }

    .next-btn {
        margin-top: 0;
        margin-right: 42%;
    }

    .finallooser,
    .finalwinner {
        width: 25vw;
}

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .intro p {
        width: 60%;
        font-size: 1.1rem;
        margin: 2% 0;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
    h1 {
        margin-top: 10px;
    }

    .instructions {
            margin: 10px 10px 0;
            height: 100%;
    }

    header img {
        display: block;
        height: 100px;
        width: auto;
        margin-left: 10px;
    }

    h2 {
        margin-top: 5%;
    }
    .start-btn {
        margin: 5% 70% 0 0;
    }

    .numeroQ {
        font-size: 3rem;
        font-weight: 400;
    }

    .enonce {
        font-size: 1.7rem ;
    }

    .reponses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px 20px;
    }

    .next-btn {
        font-size: 1.4rem;
        padding: 10px 20px;
        font-weight: 100;
    }

    .reponses li {
        align-content: center;
        font-size: 1.4rem;
    }

    .quiz-image {
        margin-top: 5%;
    }
}