:root {
    --primary: #15104B;
    --secondary: #fdbb3b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
}


body {
    font-family: "lilita one";
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    width: 100%;
    color: var(--secondary);
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem;
}


main {
    width: 100%;
    padding: 5%;
    text-align: center;

}

.intro {
    text-align: left;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.intro h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.intro p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'arial';
}

.start-btn {
    margin: 10% 20%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
    font-family: "lilita one";
    cursor: pointer;
}

.quiz-image {
    max-width: 90%;
    margin-top: 20px;
}

footer {
    background-color: var(--secondary);
    width: 100%;
    font-family: "arial";
    color: black;
    font-size: .8rem;
    padding: 8px;
}

/* Page Javascript 1ere question */
ul {
    list-style: none;
    margin: 40px 0;
}

li {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    transition: background-color 0.5s;
    font-family: "roboto";
    font-size: 1.1rem;
    text-justify: auto;


}

ul li:hover {
    border: solid 3px;
    box-shadow: 10px 5px 5px black;
}

@media screen and (min-width: 1200px) {


    main {
        display: flex;
        flex-direction: row;

    }

    .intro {
        width: 50%;
    }

    .start-section {
        flex-direction: row;
    }

    .quiz-image {
        width: 70%;
        margin-left: 20%;
    }

    .start-btn {
        margin-top: 20%;
    }

    .intro p {
        font-size: 1.1rem;
        margin-top: 5%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .intro p {
        width: 60%;
        font-size: 1.1rem;
        margin: 5% 0;
    }

    .start-btn {
        margin: 5% 70% 0 0;
    }

    .quiz-image {
        margin-top: 5%;
    }
}